node_modules/
package-lock.json
yarn.lock

/build/
/artifacts/
/cache/
/coverage/

.env
.env.local
*.secret

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/
.idea/

coverage.json
typechain/
**/*.typechain.ts

out/
forge-artifacts/